body{
    font-size: 1em;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* typography */

h1, h3{
    margin: 0;
}

h1{
    color: whitesmoke;
    font-size: 1.75em;
}

h2{
    font-size: 1.375rem;
    margin-top: 0;
}

h3{
    color: #d0aaff;
    font-size: 1.25rem;
}

p{
    font-size: 2em;
    line-height: 1.5;
}


/* links */

a{
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover, a:active{
    color: #d4b44c;
}


.btn{
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
    display: block;
}

.btn-dark{
    background: #5f29a3;
    color: whitesmoke
}

.btn-mid{
    background: #F0E0FF; 
    color: #5f29a3; 
}

.btn-light{
    background: whitesmoke;
    color: #5f29a3; 
}

.btn:hover, 
.btn:active{
    background-color: #f3e885;
    color: #2b238a;
}

/* layout */

header, section, footer{
    padding: 1.25em 0;
}

header, .section-two{
    background-color: #5f29a3;
}

.section-two{
    color: whitesmoke;
}

.container{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.main-image{
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto 2em;
    display: block;
}

.feature-image{
    width: 100%;
    border-radius: 4.6px;
    margin-bottom: 1em;
}

footer{
    text-align: center;
    color: #5f29a3;
}

@media (min-width: 480px) {
    .section-two-image-container {
       display: flex;
        justify-content: space-between;
    }
    
    .feature-image {
        width: 48.8%;     
    }
}

@media (min-width:768px){
    header, 
section, 
footer {
    padding-top: 2.875em;
     padding-bottom: 2.875em;
}

.btn{
        display: inline-block;
         margin-right: 0.5em;
    }

    h1 {
        font-size: 2.25rem;
    }
    
    h2{
        font-size: 1.75rem;
    }
    
    p{
        font-size: 1.125rem;
    }
}